<div class="index-header">
    <h1 class="greetings">Halo Semua !</h1>
    <p>Selamat datang di website ini.
        <br> Silahkan eksplor artikel di menu Posts atau lihat Projects yang sudah saya buat.
        <br><span class=thankyou>Terimakasih.</span>
    </p>
</div>

<style>
    .index-header {
        border: 5px #23B0FF solid;
        padding: 0 20px 20px 20px;
    }

    .greetings {
        margin-top: 0;
    }

    .thankyou {
        display: inline-block;
        margin-top: 1.5rem;
    }
</style>